@import url(../../assets/fonts/Roboto-Regular.ttf);

/* Сбрасываем стили для тегов */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline:none;
}

.header {
    height: 55px;
    margin-top: 69px;
    margin-bottom: 80px;
    display: flow-root;
}

.body {
    background-color: #050404;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/* Задаем контейнер и ширину для каждого элемента шапки*/

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

.logo {
    width: 108px;
    float: left; 
    margin-right: 112px;
}

.nav {
    max-width: 792px;  
    float: left; 
    margin: 0;
    padding-top: 20px;
}

.search-form {
    width: 280px;
    float: right;
    position: relative;
}

/* Стилизуем строку поиска */

.search-text-input {
    padding: 15px;
    border: 3px solid #9965e3;
    border-radius: 10px;
    background-color: #050404;
    text-transform: uppercase;
    font-size: 22px;
    background-repeat: no-repeat;
    background-position: top 50% right 10px;
    color:#fff;
    display: block;
}

.search-btn {
    position: absolute;
    top: 15px;
    left: 250px;
    background-color: #050404;
    border: none;
    cursor: pointer;
}

input::-webkit-input-placeholder { 
    color: #fff; 
}

/* Стилизуем навигацию */

.nav_list {
    list-style: none;
    font-size: 22px;   
    height: 22px;
}

.nav_link {
    color:#fff;
    text-decoration: none;
}

.nav_link_active {
    color: #ffb822;
    text-decoration: none;
}

.nav_item {
    float: left;
    margin-right: 39px;
    list-style: none;
    font-size: 22px;
}

.nav_item:last-child {
    margin-right: 0;
}


/* Стилизуем блок автора */

.person {
    background-image: linear-gradient(rgba(5,4,4,0.6),rgba(5,4,4,0.6)), url(../../images/kate_leo.jpg);
    background-size: cover;
    min-height: 780px;
    border-radius: 0 150px 0 150px;
    margin-bottom: 10px;
}

.person_text {
    padding-top: 300px;
    text-align: center;

}
.title {
    color: #ffb822;
    font-size: 100px;
    padding-bottom: 30px;
}

.subtitle {
    font-size: 40px;
}